@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aliceblue;
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.animateButton {
  animation-duration: 10000ms;
}
